/********************************
    UTILITY CLASSES
*********************************/

/* #region UTILITY */

:root {
    --ps_blue: #0070D1;
    --orange: #CD3D0F;
}

img {
    max-width: 100%;
}

.my-bg__orange {
    background-color: var(--orange);
}

.my-bg__blue {
    background-color: var(--ps_blue);
}

.my-color__blue {
    color: var(--ps_blue);
}


.my_rounded {
    border-radius: 1.5rem;
}

.carousel {
    height: 600px;
    background-size: cover;
    background-position: top;
}

.my_btn {
    display: inline-block;
}

.my_btn a::before {
    content: '';
    border-radius: 1.5rem;
    position: absolute;
    top: -6px;
    bottom: -6px;
    right: -6px;
    left: -6px;
    transition: all 200ms ease-in-out;
}

/* #endregion */

/********************************
    HEADER
*********************************/

/* #region HEADER */

.main-header .sony-logo img {
    width: 5.25rem;
}

.main-header {
    display: contents;
}

.main-header .main-nav {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #FFF;
}

.main-nav .my_toggle::after {
    border: solid rgba(0, 0, 0, 0.5);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.main-nav .navbar-collapse::before {
    content: '';
    border-top: 1px solid var(--ps_blue);
    margin: 1rem 0;
    display: block;
}

/* #endregion */

/********************************
    MAIN
*********************************/

/* #region MAIN */

/********************************
    HERO
*********************************/

/* #region HERO */

.hero .carousel {
    background-image: url('../img/jumbo-bg.png');
}

.hero .my_btn a:hover::before {
    border: 2px solid var(--orange);
}

.hero .my_card img {
    transition: all 200ms;
    width: calc(100%-2px);
}

.hero .my_card .layover {
    content: '';
    background-color: rgba(255, 255, 255, 0.623);
    position: absolute;
    border-radius: 1.5rem;
    top: -4px;
    right: calc(0.75rem - 4px);
    bottom: -4px;
    left: calc(0.75rem - 4px);
    transition: all 300ms ease-in-out;
}

.hero .my_card:hover .layover {
    border: 2px solid var(--ps_blue);
    background-color: transparent;
}

/* #endregion */

/********************************
    PS5
*********************************/

/* #region PS5 */

.ps5 {
    padding: 2.125rem 0;
}

.ps5 .title_fs {
    font-size: 2rem;
}

.ps5 .my_btn a:hover::before {
    border: 2px solid var(--ps_blue);
}

.ps5 .col-4:hover .active:hover {
    opacity: 1;
}

.ps5 .col-4:hover .layover::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 1.5rem;
    height: 2px;
    display: block;
    background-color: var(--ps_blue);
    width: calc(100% - 3rem);
}

/* #endregion */


/********************************
    NEWS
*********************************/

/* #region PS5 */

.news .carousel {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}

/* #endregion */

/* #endregion */

/********************************
    FOOTER
*********************************/

/* #region FOOTER */



/* #endregion */

/********************************
    TODO: DEBUG
*********************************/

/* #region UTILITY */



/* #endregion */