/********************************
    UTILITY CLASSES
*********************************/

/* #region UTILITY */

:root {
    --ps_blue: #0070D1;
    --orange: #CD3D0F;
}

img {
    max-width: 100%;
}

.my-bg__orange {
    background-color: var(--orange);
}


.my_rounded {
    border-radius: 1.5rem;
}

/* #endregion */

/********************************
    HEADER
*********************************/

/* #region HEADER */

.main-header .sony-logo img {
    width: 5.25rem;
}

.main-nav .my_toggle::after {
    border: solid rgba(0, 0, 0, 0.5);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.main-nav .navbar-collapse::before {
    content: '';
    border-top: 1px solid var(--ps_blue);
    margin: 1rem 0;
    display: block;
}

/* #endregion */

/********************************
    MAIN
*********************************/

/* #region MAIN */

/********************************
    HERO
*********************************/

/* #region HERO */

.hero .carousel {
    height: 600px;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: top;
}

.hero a::before {
    content: '';
    border-radius: 1.5rem;
    position: absolute;
    width: 125px;
    top: -6px;
    bottom: -6px;
    left: 2px;
    transition: all 200ms ease-in-out;
}

.hero a:hover::before {
    border: 2px solid var(--orange);
}

.hero .my_card img {
    transition: all 200ms;
    width: calc(100%-2px);
}

.hero .my_card .layover {
    content: '';
    background-color: rgba(255, 255, 255, 0.623);
    position: absolute;
    border-radius: 1.5rem;
    top: -4px;
    right: calc(0.75rem - 4px);
    bottom: -4px;
    left: calc(0.75rem - 4px);
    transition: all 300ms ease-in-out;
}

.hero .my_card:hover .layover {
    border: 2px solid var(--ps_blue);
    background-color: transparent;
}

/* #endregion */


/* #endregion */

/********************************
    FOOTER
*********************************/

/* #region FOOTER */



/* #endregion */

/********************************
    TODO: DEBUG
*********************************/

/* #region UTILITY */



/* #endregion */