/********************************
    UTILITY CLASSES
*********************************/

/* #region UTILITY */

:root {
    --ps_blue: #0070D1;
}

img {
    max-width: 100%;
}

/* #endregion */

/********************************
    HEADER
*********************************/

/* #region HEADER */

.main-header .sony-logo img {
    width: 5.25rem;
}

.main-nav .my_toggle::after {
    border: solid rgba(0, 0, 0, 0.5);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.main-nav .navbar-collapse::before {
    content: '';
    border-top: 1px solid var(--ps_blue);
    margin: 1rem 0;
    display: block;
}

/* #endregion */

/********************************
    MAIN
*********************************/

/* #region MAIN */



/* #endregion */

/********************************
    FOOTER
*********************************/

/* #region FOOTER */



/* #endregion */

/********************************
    TODO: DEBUG
*********************************/

/* #region UTILITY */



/* #endregion */